// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.comment-profile-photo {
    width: 42px;
    height: 42px;
    
    margin-right: 13px;
    margin: -7px 13px 28px 0;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
    }
}

.comment-username {
    padding-right: 10px;
    font-weight: 700;

}



.comment {
    display: flex;

    p {

        padding-top: 5px;
    }
}

