.nav {
      background-color: white;
      border-bottom: 1px solid #d8d8d8d7;
      display: flex;
      position: fixed;
      top: 0;
      width: 100%;
      height: 77px;
      justify-content: space-between;
    }

    .headerLeft {
        display: flex;
        justify-content: center;
        margin: 23px 100px;
    }

    .headerRight {
        margin: 23px 100px;
        display: grid;
        grid-template-columns: repeat(4, auto);
        grid-gap: 30px;
    }

    .policy {
        height: 32px;
        cursor: pointer;
    }


    .icon {
        height: 30px;
    }

    .horizontalLine {
        background-color: rgba(var(--i1d,38,38,38),1);
        height: 28px;
        margin: 0 16px;
        -webkit-transition: opacity .1s ease-out;
        transition: opacity .1s ease-out;
        width: 1px;
    }

    .headerlogo {
        height: 40px;
        
    }

    .logout {
        height: 32px;
        
        cursor: pointer;
    }

    .profile {
        height: 35px;
        margin-top: -2px;
        
        cursor: pointer;
    }
    .add {
        height: 32px;
        
        cursor: pointer;
    }