.post-item {
    background: white;
    border: 0.8px solid #d8d8d8d7;
    border-radius: 3px;
    margin-top: 60px;
    overflow: hidden;
}
.post-header {
    height: 30px;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    
}

.post-header-user-info {
    display: flex;
    flex-direction: row;
}

.feed-profile-photo {
    height: 30px;
    margin-right: 13px;
}
.feed-user-info {
    // display: flex;
    // flex-direction: column;

    span {
        font-size: 12px;
        margin-top: 5px;
    }
}

// .testtest {
//     display: flex;
//     justify-content: flex-end;
// }

.post-option {
    height: 15px;
    display: flex;
    margin: 5px 8px;
}
.photoUrl {
    width: 600px;
    
}

.post-icon {
    
    margin: 10px 20px;
   
}

.like-icon {
    height: 24px;
    margin-right: 12px;
}

.comment-icon {
    height: 28px;
}

.post-body {
    margin: 0 20px;
}