.feed {
    font-family: 'proxima-nova', sans-serif;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    background-color: #FAFAFA;
    padding: 95px 0 30px;
}