.profile-all {
    display: grid;
    grid-gap: 67px;
    grid-template-rows: auto 60px;
    // background: #FAFAFA;
    height: 100vh;
}

.user-profile {
    display: grid;
    font-family: 'proxima-nova', sans-serif;  
    
    grid-template-rows: repeat(2, auto);
    
    align-items: center;
    margin-top: 134px;
    grid-row-gap: 50px;

    

    
}



.profile-header {
    display: grid;
    grid-gap: 100px;
    grid-template-columns: 1fr 2fr;
    
}



.profile-photo {
    height: 150px;
    width: 150px;
    align-self: center;
    justify-self: end;
    
}
    
.profile-photo-img {
    border-radius: 50%;
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.user-info {
    
    display: grid;
    grid-gap: 15px;

    div {
        place-self: center stretch;
        width: 55%;
        line-height: 1.5;
    }

    .user-info-username {
        font-size: 28px;
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr;
        img {
            height: 25px;
            justify-self: end;
        }

       
    }

    .user-info-name {
        font-weight: 700;
    }
}


.profile-middle-line {
    border-top: 1px solid rgba(0, 0, 0, 0.0975);
    display: grid;
    margin: 0 10%;

    
}

.profile-middle {
    place-self: center;
    border-top: 1px solid black;
    display: grid;
    grid-template-columns: repeat(2, auto);

    img {
        

        padding-top: 8px;
        height: 12px;
        margin-right: 6px;
    }
    div {
        padding-top: 8px;
        font-size: 12px;
        
    }
}

.profile-grid {

    display: flex;
    justify-content: center;
    
}
.profile-items {

    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 1rem;
    padding: 0 10%;

}

.profile-post-wrapper {
    height: 293px;
    width: 293px;

}

.profile-post {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.counts-wrapper {
    background-color: black;
    height: 293px;
    width: 293px;
    opacity: 0;
    margin-top: -297px;
    display: grid;

    position: relative;
    z-index: -1;

    
    

       
    .counts {

        display: grid;
        grid-template-columns: repeat(4, auto);
        
        grid-column-gap: 17px;
        place-self: center;

        img {
            height: 18px;
            
            
        }
        div {
            font-size: 18px;
            color: white;
            
            font-family: 'proxima-nova', sans-serif;  
        }
    }
} 


.profile-post-wrapper:hover .counts-wrapper{
    opacity: 0.5;

    position: relative;
    z-index: 0;
}

.zero-post {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-gap: 30px;
    img {
        place-self: center;
        height: 150px;
    }
    p {
        place-self: center;
        font-size: 18px;
    }
}



