.profile-all {
    display: grid;
    
    grid-template-rows: repeat(2, auto);
    
    align-items: center;
    margin-top: 134px;
    grid-row-gap: 50px;

    

    font-family: 'proxima-nova', sans-serif;  
    
}



.profile-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
}



.profile-photo {
    height: 150px;
    width: 150px;
    grid-column-start: 2;
    justify-self: center
    
}
    
.profile-photo-img {
    border-radius: 50%;
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.user-info {
    grid-column-start: 3;
    display: grid;

    div {
        place-self: center stretch;
    }

    .user-info-username {
        font-size: 28px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        img {
            height: 25px;
            justify-self: end;
        }

       
    }

    .user-info-name {
        font-weight: 700;
    }
}

// .profile-setting {
//     place-self: center stretch;
    
// }

.profile-middle-line {
    border-top: 1px solid rgba(0, 0, 0, 0.0975);
    display: grid;
    margin: 0 10%;

    // place-self: center;
}

.profile-middle {
    place-self: center;
    border-top: 1px solid black;

    img {
        // height: 12px;
        // margin-right: 6px;

        padding-top: 8px;
    height: 25px;
    margin-right: 6px;
    }
    span {
        font-size: 12px;
        align-self: start;
        // align-self: start;
        // place-self: center;
    }
}

.profile-grid {

    display: flex;
    justify-content: center;
    
}
.profile-items {

    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 1rem;
    padding: 0 10%;


    
    

    
}

.profile-post-wrapper {
    height: 293px;
    width: 293px;
}

.profile-post {
        width: 100%;
        height: 100%;
    object-fit: cover;
    
  
}

