.profile-all {
    display: grid;
        // grid-template-columns: 1fr 2fr;
        grid-template-rows: repeat(2, auto);
        grid-column-gap: 1.5rem;
        align-items: center;
        margin-top: 134px;
        grid-row-gap: 100px;

    padding: 0px 20%;

    font-family: 'proxima-nova', sans-serif;  
    
}

.profile-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
}

// .profile-posts-all{
//     display: flex;
//     flex-direction: column;
//     justify-content: flex-start;
//     margin: auto;
//     width: 80%;
//     max-width: 940px;
// }

.profile-photo {
    height: 150px;
    border-radius: 50%;
    grid-column-start: 2;
    // place-self: center;
}


.user-info {
    grid-column-start: 3;
    display: grid;

    div {
        place-self: center stretch;
    }
}

// .profile-grid {
//     display: grid;
//     grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
//     grid-gap: 3rem;
// }
.profile-items {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(293px, 1fr));
    grid-gap: 1rem;

    //     display: grid;
    // grid-template-columns: 1fr 1fr 1fr;
    // /* grid-auto-rows: 300px; */
    // grid-gap: 4%;
    // grid-auto-flow: column

    // display: gird;
    // width: 80%;
    // margin: 0 auto;
    // grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

    // display: inline-block;
    // box-sizing: content-box;
    // width: 30.7%;
    // height: 0px;
    // padding-bottom: 30.7%;
    // margin: 1.3%;
    // position: relative;
}

.profile-post {
        max-width: 100%;
    object-fit: cover;
    
    align-self: center;

    
}

