

.willbedeleted {
    margin: 100px;
}


.all {
    font-family: 'proxima-nova', sans-serif;  
    background-color: #FAFAFA;
    height: 100vh;
    display: grid;
    
    grid-template-rows: auto 40px;
    
  
    
}
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'proxima-nova', sans-serif;  
     
  
} 


.photo {
    margin: 30px;
}
.logo {
    height: 70px;
    
    margin: 20px 65px;
}
.subtitle {
   

    color: #999;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    margin: 0 30px 30px;
}

.session { 
    display: flex;
    flex-direction: column;
    font-family: 'proxima-nova', sans-serif;
} 


.session-right-1 {
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    padding: 20px 0 30px;
    width: 300px;
    height: 40%;
    margin: 10px auto;
   
}

.session-right-2 {
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    margin: 10px auto; 
    padding: 20px 0;
    text-align: center;
    width: 300px;
    height: 40%;
    font-size: 15px;
    font-weight: 300;
    
}

.link {
    text-decoration: none;
    color: #3897f0;
    font-weight: 530;
    
}

.button {
    
    padding: 10px 20px;
     width: 80%;
    background-color: #3897f0;
    border: 1px solid #3897f0;
    color: #fff;
    font-weight: bold;
    border-radius: 3px;
    font-size: 12px;
    cursor: pointer;
    
}

button {
    cursor: pointer;
}

button:focus {
    outline:0;
}

.or {
    margin-top: -25px;
    width: 30px;
    background-color: white;
    text-align: center;
    color: #ccc;
    font-size: 12px;
}


.line {
    width: 80%;
    border-color: #ccc;
}

.input {
  width: 80%;
  margin-bottom: 5px;
  margin-bottom: 10px;
  padding: 10px 0 10px 10px;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
  border-radius: 3px;
  background-color: #FAFAFA;
  

}

.input-all {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    
}

.errors {
    list-style: none;
    color: rgb(218, 20, 20);
    justify-items: center;
    font-size: 13px;
    margin: 20px 40px 0px;
}

.footer-container {
    display: grid;
}

.footer-all {
    display: grid;
    width: 80%;
    height: 40px;
    font-size: 12px;
    font-family: 'proxima-nova', sans-serif;  
    justify-self: center;
    

    grid-template-columns: repeat(5, 1fr) ;

    align-self: center;

    a {
        color: #003569;
        font-weight: 700;
        text-decoration: none;
        align-self: center;
        justify-self: center;
    }
    
}



.span {
    text-decoration: none;
    color: #8c8f92c0;
    font-weight: 700;
    align-self: center;
    justify-self: center;
}