.signup {
   /* -webkit-box-flex: 1; */
   /* flex-grow: 1; */
   /* -webkit-box-ordinal-group: 5; */
    /* overflow: hidden; */
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */

  /* display: grid;
    grid-template-columns: 1fr;

    justify-items: center; */
}

.photo { 
    position: relative;
} 
.all {
    display: flex;
    flex-direction: row;
    justify-content: center;
  align-items: center;
}

.title {
    font-size: xx-large; 
    text-align: center;
}

.signup { 
    display: flex;
    flex-direction: column;
} 


.signup-right-1 {
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 1px;
    margin: 0 0 10px;
    padding: 10px 0;
    width: 250px;
    height: 40%;
    margin: 10px auto;
    /* display: flex;
    flex-direction: column; */
}

.signup-right-2 {
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 1px;
    margin: 0 0 10px;
    padding: 10px 0;
    text-align: center;
     /* display: flex; */
    /* flex-direction: column; */
}

.button {
    padding: 5px 9px;
     width: 80%;
    background-color: #3897f0;
    border: 1px solid #3897f0;
    color: #fff;
    font-weight: bold;
    /* cursor: pointer; */
    border-radius: 3px;
}

.input {
  width: 80%;
  margin-bottom: 5px;
  padding: 9px 0 7px 8px;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
  border-radius: 3px;
  
  
  /* text-align: center; */

  /* justify-content: center; */
  /* align-items: center; */

}

.input-all {
    display: grid;
    grid-template-columns: 1fr;

    justify-items: center;
    /* justify-content: center; */
    /* align-items: center; */
}